<!doctype html>
<html>
  <head>
    <meta charset = "UTF-8">
    <title>CS 340</title>
    <link rel = "stylesheet" href = "/css/home.css" type = "text/css">
    <script src = "/js/home.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>