<!doctype html>
<html>
  <head>
    <meta charset = "UTF-8">
    <title>CS 340</title>
    <link rel = "stylesheet" href = "/css/home.css" type = "text/css">
    <script src = "./js/home.js"></script>
  </head>
  <body>
    <div class = "header">
      <h1>Pleasant Hills Apartments</h1>
    </div>
    <div class = "menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/apartment">Apartments</a></li>
      </ul>
    </div>    
    <div class = "body">
      {{{body}}}
    </div>
  </body>
</html>