<!doctype html>
<html>
  <head>
    <meta charset = "UTF-8">
    <title>CS 340</title>
    <link rel = "stylesheet" href = "/css/main.css" type = "text/css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>