  
<link rel = "stylesheet" href = "/css/actPortal.css" type = "text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src = "/static/js/actPortal.js"></script>

<div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
        <h1 id="title">{{mainMessage}}</h1>
        <p>
            <p>Submit Repair Request</p>
            <form id="request" >
                    <p>
                        {{!-- <input type="text" placeholder="Describe your issue" required="true" id="description" name="description"> --}}
                        <textarea rows="4" cols="50" name="description" form="request" id="description" placeholder="Describe your issue" required></textarea>

                    </p>
                    <p>
                        <input type="submit" id="submit">
                    </p>
            </form>
            <p id="emergency">If this is an emergency please contact our number directly at 999-999-9999</p>
        </p> 
    </div>
    <div class="col-sm">
        
    </div>
</div>


