<link rel = "stylesheet" href = "/css/apartment.css" type = "text/css">
<script src = "/js/apartment.js"></script>
<div>
    <h1>{{mainMessage}}</h1>
</div>
<div>
    <table>
        <tr>
            <th>Apartment Address</th>
            <th>Number of Bedrooms</th>
            <th>Number of Bathrooms</th>
            <th>Rent</th>
            <th>More Info</th>
        </tr>  
        <tr>
            <th>123 S Street</th>
            <th>2</th>
            <th>2</th>
            <th>1000</th>
            <th><a href="/apartment-details">More Info HERE! (to be replaced with nicer stuff once the database is added)</a></th>
        </tr>
    </table>

</div>