<link rel = "stylesheet" href = "/css/apartment-details.css" type = "text/css">
<script src = "/js/apartment-details.js"></script>
<div>
    <h1>{{mainMessage}}</h1>
</div>
<div>
    <ul>
        <li>Apartment Number:</li>
        <li>Number of Bedrooms:</li>
        <li>Number of Bathrooms:</li>
        <li>Square footage:</li>
        <li>Amenities:</li>
    </ul>
</div>