<div>
    <h1>{{mainMessage}}</h1>
</div>
<div>
    <table>
        <tr>
            <th>Available Apartments</th>
            <th>Number of Bedrooms</th>
            <th>Number of Bathrooms</th>
            <th>Rent</th>
            <th>More Info</th>
        </tr>  
    </table>
    <a href="apartment-details.handlebars">More Info HERE! (to be replaced with nicer stuff once the database is added)</a>
</div>