<link rel = "stylesheet" href = "/css/home.css" type = "text/css">
<script src = "/js/home.js"></script>
<div >
    <h1>{{mainMessage}}</h1>
    <button onclick="redirect()">SIGN IN</button> 
    <input type="radio" name="user" value="tenant" id="tenant">
    <label for="user"> Tenant </label><br>
    <input type="radio" name="user" value="browser" id="prospective">
    <label for="user"> Just looking</label><br>
</div>