<div >
    <h1>{{mainMessage}}</h1>
    <p>
        <form action="/action_page.php">
            <input type="submit" value="Sign in">
            <input type="checkbox" name="tenant" value="tenant">
            <label for="tenant"> Tenant </label><br>
            <input type="checkbox" name="browser" value="browser">
            <label for="browser"> Just looking</label><br>
        </form>
    </p>
    
</div>