<link rel = "stylesheet" href = "/css/manager.css" type = "text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src = "/js/manager.js"></script>

<div>
    <h1>{{mainMessage}}</h1>
</div>

<div>
    <h3>Manage Listings</h3>
    <form class = "filterListings">
        <input list="status" name="status" placeholder="Filter by Status">
        <datalist id="status">
            <option value="Available"></option>
            <option value="Unavailable"></option>
        </datalist>
        <button type="submit">Filter</button>
    </form>
    <table>
        <tr>
            <th>Apartment Number</th>
            <th>Apartment Status</th>
        </tr>
        <tr id="editListingRow">
            <td>123</td>
            <td>Available</td>
        </tr>
        <tr>
            <td><a href="/newListing">Add Listing</a></td>
        </tr>
    </table>
</div>

<div>
    <h3>Manage Amenities</h3>
    <table>
        <tr>
            <th>Amenity Description</th>
        </tr>
        <tr>
            <td>Dishwasher</td>
        </tr>
        <tr>
            <td>Fireplace</td>
        </tr>
    </table>
    <h5>Add Amenity:</h5>
    <form>
        <label for = "amenDescrip">Amenity Description:</label>
        <input type = "text" name = "amenDescrip" maxlength="30">
        <input type = "submit" value = "Submit">
    </form>
</div>

<div>
    <h3>Manage People</h3>
    <div>
        <h4 class="indent">Manage Customers</h4>
        <form class = "filterCustomers">
            <input list="cust" name="cust" placeholder="Filter by Type of Customer">
            <datalist id="cust">
                <option value="Tenant"></option>
                <option value="Prospective"></option>
            </datalist>
            <button type="submit">Filter</button>
        </form>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Status</th>
                <th>Change Status</th>
            </tr>
            <tr>
                <td>John</td>
                <td>Smith</td>
                <td>Prospective</td>
                <td>
                    <form class = "custStatus">
                        <input type="radio" name="custStatus" value="prospective" id = "prospective">
                        <label for = "aptStatus">Prospective</label></br>
                        <input type = "radio" name = "custStatus" value = "tenant" id = "tenant">
                        <label for = "aptStatus">Tenant</label>
                        <input type = "radio" name = "custStatus" value = "delete" id = "delete">
                        <label for = "aptStatus">Delete Account</label>
                    </form>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h4>Manage Technicians</h4>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Delete</th>
            </tr>
            <tr>
                <td>Steve</td>
                <td>Jones</td>
                <td>
                    <form class = "techStatus">
                        <input type = "radio" name = "techStatus" value = "delete" id = "delete">
                        <label for = "aptStatus">Delete</label>
                    </form>
                </td>
            </tr>
        </table>
        <input type = "submit" value = "Submit">
        <h5>Add Technician:</h5>
        <form>
            <label for = "firstName">First Name:</label>
            <input type = "text" name = "firstName" maxlength="30">
            <label for = "lastName">Last Name:</label>
            <input type = "text" name = "lastName" maxlength="30">
            <label for ="email">Email:</label>
            <input type = "email" name = "email">
            <label for = "phone">Phone:</label>
            <input type ="tel" name = "phone">
            <input type = "submit" value = "Submit">
        </form>
</div>
</div>



