<link rel = "stylesheet" href = "/css/manager.css" type = "text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src = "/js/manager.js"></script>

<div>
    <h1>{{mainMessage}}</h1>
</div>

<h3 class="hideContentTxt" id="listingTxt">Manage Listings</h3>
<div class="hiddenContent" class="col-*-*" id="listingContent">
    <form id="filterListings">
        <input list="status" name="status" placeholder="Filter by Status">
        <datalist id="status">
            <option value="Available"></option>
            <option value="Unavailable"></option>
        </datalist>
        <button type="submit">Filter</button>
    </form>
    <table>
        <tr>
            <th>Apartment Number</th>
            <th>Apartment Status</th>
        </tr>
        <tr id="editListingRow">
            <td>123</td>
            <td>Available</td>
        </tr>
        <tr>
            <td><a href="/newListing">Add Listing</a></td>
        </tr>
    </table>
</div>

<h3 class="hideContentTxt" id="amenTxt">Manage Amenities</h3>
<div class="hiddenContent" class="col-*-*" id="amenContent">
        <table>
            <tr>
                <th>Amenity Description</th>
            </tr>
            <tr>
                <td>Dishwasher</td>
            </tr>
            <tr>
                <td>Fireplace</td>
            </tr>
        </table>
    <h5>Add Amenity:</h5>
        <form>
            <label for = "amenDescrip">Amenity Description:</label>
            <input type = "text" name = "amenDescrip" maxlength="30">
            <input type = "submit" value = "Submit">
        </form>

</div>

<h3 class="hideContentTxt" id="manPeopleTxt">Manage People</h3>
<div class="hiddenContent" class="col-*-*" id="peopleContent">
    {{!-- <div id="peopleContent"> --}}
        <h4 class="hideContentTxt" id="manCustomerTxt">Manage Customers</h4>
        <div class="hiddenContent" id="custContent">
            <form class = "filterCustomers">
                <input list="cust" name="cust" placeholder="Filter by Type of Customer">
                <datalist id="cust">
                    <option value="Tenant"></option>
                    <option value="Prospective"></option>
                </datalist>
                <button type="submit">Filter</button>
            </form>
            <table>
                <tr >
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Status</th>
                </tr>
                <tr id="editCustomerRow">
                    <td>John</td>
                    <td>Smith</td>
                    <td>Prospective</td>
                </tr>
            </table>
        </div>
        
        <h4 class="hideContentTxt" id="manTechTxt">Manage Technicians</h4>
        <div class="hiddenContent" id="techContent">
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                </tr>
                <tr id="editTechnicianRow">
                    <td>Steve</td>
                    <td>Jones</td>
                </tr>
                <tr>
                    <td>
                        <a href="/newTechnician">Add Technician</a>
                    </td>
                </tr>
            </table>
        </div>
    {{!-- </div> --}}

</div>



