<link rel = "stylesheet" href = "/css/manager.css" type = "text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src = "/js/manager.js"></script>

<div>
    <h1>{{mainMessage}}</h1>
</div>

<div>
    <h3>Manage Listings</h3>
    <table>
        <tr>
            <th>Apartment Number</th>
            <th>Apartment Status</th>
            <th>Change Status</th>
            <th>Feature?</th>
        </tr>
        <tr>
            <td>123</td>
            <td>Available</td>
            <td>
                <form class = "aptStatus">
                    <input type="radio" name="aptStatus" value="available" id = "available">
                    <label for = "aptStatus">Available</label></br>
                    <input type = "radio" name = "aptStatus" value = "rented" id = "rented">
                    <label for = "aptStatus">Rented</label>
                    <input type = "radio" name = "aptStatus" value = "delete" id = "delete">
                    <label for = "aptStatus">Delete Listing</label>
                </form>
            </td>
            <td>
                <form class = "feature">
                    <label for = "yes">Yes</label>
                    <input type = "radio" name = "feature" value = "yes">
                    <label for = "no">No</label>
                    <input type = "radio" name = "feature" value = "no">
                </form>
            </td>
        </tr>
    </table>
    <input type = "submit" value = "Submit">
    <h5>Add Listing:</h5>
    <form>
        <label for = "aptNumber">Apartment Number:</label>
        <input type = "number" name = "aptNumber" min = "1" max= "9999">
        <label for = "rent">Rent:</label>
        <input type = "number" name = "rent" min = "1" max= "9999">
        <label for = "dateAvail">Date Available:</label>
        <input type = "date" name = "dateAvail">
        <label for = "availStatus">Availability Status:</label>
        <input type = "text" name = "availStatus">
        <input type = "submit" value = "submit">
    </form>
</div>

<div>
    <h3>Manage Customers</h3>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Status</th>
            <th>Change Status</th>
        </tr>
        <tr>
            <td>John</td>
            <td>Smith</td>
            <td>Prospective</td>
            <td>
                <form class = "custStatus">
                    <input type="radio" name="custStatus" value="prospective" id = "prospective">
                    <label for = "aptStatus">Prospective</label></br>
                    <input type = "radio" name = "custStatus" value = "tenant" id = "tenant">
                    <label for = "aptStatus">Tenant</label>
                    <input type = "radio" name = "custStatus" value = "delete" id = "delete">
                    <label for = "aptStatus">Delete Account</label>
                </form>
            </td>
        </tr>
    </table>
    <input type = "submit" value = "Submit">
</div>

<div>
    <h3>Manage Technicians</h3>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td>Steve</td>
            <td>Jones</td>
            <td>
                <form class = "techStatus">
                    <input type = "radio" name = "techStatus" value = "delete" id = "delete">
                    <label for = "aptStatus">Delete</label>
                </form>
            </td>
        </tr>
    </table>
    <input type = "submit" value = "Submit">
    <h5>Add Technician:</h5>
    <form>
        <label for = "firstName">First Name:</label>
        <input type = "text" name = "firstName" maxlength="30">
        <label for = "lastName">Last Name:</label>
        <input type = "text" name = "lastName" maxlength="30">
        <label for ="email">Email:</label>
        <input type = "email" name = "email">
        <label for = "phone">Phone:</label>
        <input type ="tel" name = "phone">
        <input type = "submit" value = "Submit">
    </form>
</div>