<link rel = "stylesheet" href = "/css/newTechnician.css" type = "text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src = "/static/js/newTechnician.js"></script>

<h5>New Technician Info:</h5>
<form id = "addTech" action = "/newTechnician" method = "post"> 
    <input type="text" placeholder="First Name" name = "techFName" id="techFName">
    <input type="text" placeholder="Last Name" name = "techLName" id="techLName">
    <input type="number" placeholder="(999)-999-9999" name = "techPhone" id="techPhone">
    <input type="email" placeholder="Email" name = "techEmail" id="techEmail">
    <button type="subit">Add Technician</button>
</form>
