<link rel = "stylesheet" href = "/css/tech.css" type = "text/css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src = "/js/tech.js"></script>

<div>
    <h1>{{mainMessage}}</h1>
</div>
    <form class = "filterOrders">
        <input list="status" name="status" placeholder="Filter by Status">
        <datalist id="status">
            <option value="Unaddressed"></option>
            <option value="Addressing"></option>
            <option value="Completed"></option>
        </datalist>
        <button type="submit">Filter</button>
    </form>
<div class="row">
    <table>
        <tr>
            <th>Order Number</th>
            <th>Apartment Address</th>
            <th>Issue Description</th>
            <th>Set Status</th>

        </tr>  
        <tr id="issue1">
            <td>1</td>
            <td>123 S Street</td>
            <td>Sink drains slow</td>
            <td>
                <form>
                    <input type="radio" name="status" value="unaddressed" id="unaddressed" default>
                    <label for="status"> Unaddressed </label><br>
                    <input type="radio" name="status" value="addressed" id="addressed">
                    <label for="status"> Technician Sent Out </label><br>
                    <input type="radio" name="status" value="complete" id="complete">
                    <label for="status"> Completed (will remove upon setting to complete)</label><br>
                </form>
            </td>

        </tr>
    </table>
</div>
