/* Commented out, can change table in future if needed */
/* body{
    height: 100%;
}
table{
    margin: auto;
    position: relative;
}

th, td{
    padding: 5px;
}

th{
    border: 3px solid #1b1b1b;
    font-weight: bold;
}

ul{
    text-align: left;
} */
#editListingRow:hover{
    cursor: pointer;
    background-color: #ffff99;
}
#editCustomerRow:hover{
    cursor: pointer;
    background-color: #ffff99;
}
#editTechnicianRow:hover{
    cursor: pointer;
    background-color: #ffff99;
}

/* 
#manListingContent{
    display: none;
    padding-left: 15px;
}
#manListingTxt:hover{
    cursor: pointer;
    color: gray;
}

#manAmenContent{
    display: none;
    padding-left: 15px;
}
#manAmenTxt:hover{
    cursor: pointer;
    color: gray;
} */


.hiddenContent{
    display: none;
    padding-left: 15px;
}
.hideContentTxt:hover{
    cursor: pointer;
    color: gray;
}
