
td > input{
    min-width: 100px;
    width: 100%;
}


#editListingRow:hover{
    cursor: pointer;
    background-color: #ffff99;
}
#editCustomerRow:hover{
    cursor: pointer;
    background-color: #ffff99;
}
#editTechnicianRow:hover{
    cursor: pointer;
    background-color: #ffff99;
}

.hiddenContent{
    display: none;
    padding-left: 15px;
}
.hideContentTxt:hover{
    cursor: pointer;
    color: gray;
}
